@model SerwisPogodowy.Models.ViewModels.UserLoginVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @using (Html.BeginForm("LogIn", "User", FormMethod.Post, new { @class = "form-signin needs-validation" }))
    {
        <img class="mb-4" src="/graphics/logo.jfif" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control needs-validation", id = "emailInput", placeholder = "Email", required = "required" })
        <label for="inputPassword" class="sr-only">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control needs-validation", id = "inputPassword", placeholder = "Hasło", required = "required" })
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Pamiętaj mnie
            </label>
        </div>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="invalid-feedback d-block">@Model.ErrorMessage</div>
        }
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>

        <br />
        <br />
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Zarejestruj się</a>

    }

</div>
