@model SerwisPogodowy.Models.ViewModels.UserRegisterVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-signin needs-validation" }))
    {
        <img class="mb-4" src="/graphics/logo.jfif" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control needs-validation", id = "emailInput", placeholder = "Email", required = "required" })
        <label for="inputPassword" class="sr-only">Hasło</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control needs-validation", id = "inputPassword", placeholder = "Hasło", required = "required" })
        <label for="inputPasswordConfirm" class="sr-only">Powtorz hasło</label>
        @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control needs-validation", id = "inputPasswordConfirm", placeholder = "Hasło", required = "required" })


        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="invalid-feedback d-block">@Model.ErrorMessage</div>
        }
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
        <br />
        <br />
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogIn">Przejdz do logowania</a>
    }

</div>
